.searchInputs {
    margin-top: 15%;
    display: flex;
}

.search input {
    background-color: rgb(226, 226, 226);
    border: 1 solid black;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
    height: 35%;
    width: 95%;
}

strong {
    margin-right: 45px;
    font-size: 20px;
}

.searchIcon {
    width: 25%;
    background-color: rgb(233, 228, 228);
    display: grid;
    place-items: center;
    height: 55px;
    border: 1 solid black;
}

.dataResult {
    margin-top: 5px;
    width: 300px;
    height: 200px;
    background: #ffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
    display: none;
}

.dataItem {
    margin-left: 5px;
}

a:hover {
    background-color: lightblue;
}

#clearBtn {
    cursor: pointer;
}