.header-container {
    display: flex;
}

.logo {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}

.menu-name {
    margin: 20px;
}

.menu {
    display: flex;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 90px;
}

.button {
    align-items: flex-start;
    background-color: #e4a853;
    border-color: #e4a853;
    border-style: solid;
    color: white;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    line-height: 22.5px;
    text-align: center;
    text-transform: uppercase;
    padding: 8px 5px;
    border-radius: 30px;
    margin-left: 10%;
    margin-top: 10px;
    height: 50px;
    width: 10%;
}